<a href="https://colab.research.google.com/github/lincolntneves/course-eia-data-science-track/blob/main/02%20-%20Professional%20Training%20Python%20Complete%20Course%20%2B%20Projects/02_Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Método Print: Atividades

**Atividade 01**

In [ ]:
print("Lincoln")
print("40")
print("1.78")

Lincoln
40
1.78

**Atividade 02**

In [ ]:
print("Nome: {} \nIdade: {} \nAltura: {}".format("Lincoln","40","1,78"))

Nome: Lincoln
Idade: 40
Altura: 1,78

**Atividade 03**

In [ ]:
print("30","31","32", sep="-")

30-31-32

# Principais Variáveis

In [ ]:
# padrão camel case
saldoBancario = 100

# padrão pascal case
SaldoBancario = 100

# padrão snake case
saldo_bancario = 100

## Principais Variáveis: Atividades

**Atividade 01**

In [ ]:
saldoConta = 1000.34
resposta = True
peso = 78
cadeira = None

print(saldoConta)
print(resposta)
print(peso)
print(cadeira)

1000.34
True
78
None

**Atividade 02**

In [ ]:
nome = "Lincoln"
cpf = "10533455601"
casado = True

print("Nome: {}, CPF: {}, Casado: {}".format(nome,cpf,casado))

Nome: Lincoln, CPF: 10533455601, Casado: True

In [ ]:
nome = "Lincoln"
cpf = "10533455601"
casado = True

print("Nome: ", nome)
print("CPF: ", cpf)
print("Casado: ", casado)

Nome:  Lincoln
CPF:  10533455601
Casado:  True

In [ ]:
nome = "Lincoln"
cpf = "10533455601"
casado = True

print("Nome: {} \nCPF: {} \nCasado: {}".format(nome,cpf,casado))

Nome: Lincoln
CPF: 10533455601
Casado: True

# Formatação

## Técnicas de Formatação de Texto

In [ ]:
# %s String
# %d Número Inteiro
# %f Número Real (Ponto Flutuante)

nome = "Lincoln"
idade = 40
altura = 1.78

print("O nome escolhido é: %s" %(nome))
print("Minha idade é: %d" %(idade))
print("Minha altura é %f" %(altura))

print("Minha altura é %.2f" %(altura))


print("Meu nome é %s, minha idade é %d e minha altura é %.2f" %(nome, idade, altura))

O nome escolhido é: Lincoln
Minha idade é: 40
Minha altura é 1.780000
Minha altura é 1.78
Meu nome é Lincoln, minha idade é 40 e minha altura é 1.78

## Formatação com Caracteres Especiais

In [ ]:
# \n Quebra de Linha
# \t Tabulação
print("Nome: \nLincoln")
print("Nome: \tLincoln")
print("Nomes: \n\tLincoln \n\tThiago")

Nome:
Lincoln
Nome: 	Lincoln
Nomes:
	Lincoln
	Thiago

In [ ]:
# \'palavra\' Áspas simples
# \"palavra\" Áspas dupla

print("Meu nome é \'Lincoln\'")
print("Meu nome é \"Lincoln\"")

Meu nome é 'Lincoln'
Meu nome é "Lincoln"

## Formatação: Atividades

**Atividade 01**

In [ ]:
dia = 31
mes = "Maio"
ano = 1984

print("Eu nasci no dia %d de %s de %d." %(dia, mes, ano))

Eu nasci no dia 31 de Maio de 1984.

In [ ]:
dia, mes, ano = 31, 5, 1984
print("Eu nasci em %d/%d/%d." %(dia, mes, ano))

Eu nasci em 31/5/1984.

**Atividade 02**

In [ ]:
import time

hora = time.localtime().tm_hour
minuto = time.localtime().tm_min

print("Agora são %d horas e %d minutos." %(hora, minuto))

Agora são 15 horas e 50 minutos.

**Atividade 03**

In [ ]:
import numpy as np

print("O número Pi é %.5f" %(np.pi))

O número Pi é 3.14159

# Operadores Aritméticos

## Operadores mais utilizados

In [ ]:
print(10 + 12) # soma
print(10 - 12) # subtração
print(10 * 12) # multiplicação
print(10 / 12) # divisão
print("%.2f" %(10 / 12)) # divisão

print(15 / 7)
print(15 // 7) # Apenas o número inteiro da divisão

print(2 ** 3) # Potência

print(11 % 3) # Resto da divisão

# Também posso trabalhar com variáveis
a = 2 ** 4
print(a)

22
-2
120
0.8333333333333334
0.83
2.142857142857143
2
8
2
16

## Ordem de prioridade

In [ ]:
## ---------- Hierarquia ---------- ##
# 1. ** Exponenciação
# 2. * Multiplicação
# 3. / Divisão
# 4. % Resto da divisão ou mod
# 5. // Divisão inteira

In [ ]:
a = 10 * 3 + 2 # Multiplicação e Divisão antes da soma e subtração
b = 10 * (3 + 2) # Mudo a hierarquia utilizando ().

print("O valor de a é %d" %(a))
print("O valor de b é %d" %(b))

O valor de a é 32
O valor de b é 50

In [ ]:
a = 10 * 3 / 2 + 2 # Multiplicação e Divisão antes da soma e subtração
b = 10 * (3 / 2 + 2) # Mudo a hierarquia utilizando ().

print("O valor de a é %d" %(a))
print("O valor de b é %d" %(b))

O valor de a é 17
O valor de b é 35

In [ ]:
a = 100
b = 130
c = 50

resultado = a + b + c

print("O resultado é %d" %(resultado))

resultado = resultado * 2 # Aqui não uso parenteses, mas trabalho a hierarquia usando variáveis

print("O resultado é %d" %(resultado))

O resultado é 280
O resultado é 560

In [ ]:
# Maneira mais elegante de fazer soma, multiplcação e divisão
a = 1
a += 1 # Somando um
print(a)

a = 2
a *= 2 # Multiplicando por 2
print(a)

a = 6
a /= 2 # Dividindo por 2
print(a)

2
4
3.0

## Operadores: Atividades

**Atividade 01**

In [ ]:
ano_atual = 2025
ano_nascimento = 1984

idade_aprox = ano_atual - ano_nascimento

minha_idade = "Minha idade aproximada é de %d anos." %(idade_aprox)

print(minha_idade)

Minha idade aproximada é de 41 anos.

**Atividade 02**

In [ ]:
n1 = 15
n2 = 30
n3 = 45

media = (n1 + n2 + n3) / 3

resultado = "A média dos números %d, %d e %d é %.2f." %(n1,n2,n3,media)
print(resultado)

A média dos números 15, 30 e 45 é 30.00.

**Atividade 03**

In [ ]:
print("Vamos descobrir qual seu IMC!")

print("Indique em kg o seu peso atual: ")
peso_atual = float(input())

print("Indique em metros a sua altura: ")
altura = float(input())

imc = peso_atual / (altura ** 2)

resultado = "O seu IMC é %.2f." %(imc)
print(resultado)

Vamos descobrir qual seu IMC!
Indique em kg o seu peso atual:
95
Indique em metros a sua altura:
1.78
O seu IMC é 29.98.

**Atividade 04**

In [ ]:
print("Calculadora de Ovos de Páscoa.\n")

print("Indique o número de ovos disponíveis: ")
qtd_ovos = int(input())

print("Indique o número de pessoas para recebem: ")
qtd_pessoas = int(input())

ovos_por_pessoa = qtd_ovos // qtd_pessoas
sobra = qtd_ovos % qtd_pessoas

resultado = "Cada pessoa receberá %d ovos de páscoa e sobrarão %d ovos." %(ovos_por_pessoa, sobra)
print(resultado)

Calculadora de Ovos de Páscoa.

Indique o número de ovos disponíveis:
30
Indique o número de pessoas para recebem:
12
Cada pessoa receberá 2 ovos de páscoa e sobrarão 6 ovos.