<a href="https://colab.research.google.com/github/lincolntneves/course-eia-data-science-track/blob/main/02%20-%20Professional%20Training%20Python%20Complete%20Course%20%2B%20Projects/02_Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Método Print: Atividades

**Atividade 01**

In [ ]:
print("Lincoln")
print("40")
print("1.78")

Lincoln
40
1.78

**Atividade 02**

In [ ]:
print("Nome: {} \nIdade: {} \nAltura: {}".format("Lincoln","40","1,78"))

Nome: Lincoln
Idade: 40
Altura: 1,78

**Atividade 03**

In [ ]:
print("30","31","32", sep="-")

30-31-32

# Principais Variáveis

In [ ]:
# padrão camel case
saldoBancario = 100

# padrão pascal case
SaldoBancario = 100

# padrão snake case
saldo_bancario = 100

## Principais Variáveis: Atividades

**Atividade 01**

In [ ]:
saldoConta = 1000.34
resposta = True
peso = 78
cadeira = None

print(saldoConta)
print(resposta)
print(peso)
print(cadeira)

1000.34
True
78
None

**Atividade 02**

In [ ]:
nome = "Lincoln"
cpf = "10533455601"
casado = True

print("Nome: {}, CPF: {}, Casado: {}".format(nome,cpf,casado))

Nome: Lincoln, CPF: 10533455601, Casado: True

In [ ]:
nome = "Lincoln"
cpf = "10533455601"
casado = True

print("Nome: ", nome)
print("CPF: ", cpf)
print("Casado: ", casado)

Nome:  Lincoln
CPF:  10533455601
Casado:  True

In [ ]:
nome = "Lincoln"
cpf = "10533455601"
casado = True

print("Nome: {} \nCPF: {} \nCasado: {}".format(nome,cpf,casado))

Nome: Lincoln
CPF: 10533455601
Casado: True

# Formatação

## Técnicas de Formatação de Texto

In [ ]:
# %s String
# %d Número Inteiro
# %f Número Real (Ponto Flutuante)

nome = "Lincoln"
idade = 40
altura = 1.78

print("O nome escolhido é: %s" %(nome))
print("Minha idade é: %d" %(idade))
print("Minha altura é %f" %(altura))

print("Minha altura é %.2f" %(altura))


print("Meu nome é %s, minha idade é %d e minha altura é %.2f" %(nome, idade, altura))

O nome escolhido é: Lincoln
Minha idade é: 40
Minha altura é 1.780000
Minha altura é 1.78
Meu nome é Lincoln, minha idade é 40 e minha altura é 1.78

## Formatação com Caracteres Especiais

In [ ]:
# \n Quebra de Linha
# \t Tabulação
print("Nome: \nLincoln")
print("Nome: \tLincoln")
print("Nomes: \n\tLincoln \n\tThiago")

Nome:
Lincoln
Nome: 	Lincoln
Nomes:
	Lincoln
	Thiago

In [ ]:
# \'palavra\' Áspas simples
# \"palavra\" Áspas dupla

print("Meu nome é \'Lincoln\'")
print("Meu nome é \"Lincoln\"")

Meu nome é 'Lincoln'
Meu nome é "Lincoln"

## Formatação: Atividades

**Atividade 01**

In [ ]:
dia = 31
mes = "Maio"
ano = 1984

print("Eu nasci no dia %d de %s de %d." %(dia, mes, ano))

Eu nasci no dia 31 de Maio de 1984.

In [ ]:
dia, mes, ano = 31, 5, 1984
print("Eu nasci em %d/%d/%d." %(dia, mes, ano))

Eu nasci em 31/5/1984.

**Atividade 02**

In [ ]:
import time

hora = time.localtime().tm_hour
minuto = time.localtime().tm_min

print("Agora são %d horas e %d minutos." %(hora, minuto))

Agora são 15 horas e 50 minutos.

**Atividade 03**

In [ ]:
import numpy as np

print("O número Pi é %.5f" %(np.pi))

O número Pi é 3.14159

# Operadores Aritméticos

## Operadores mais utilizados

In [ ]:
print(10 + 12) # soma
print(10 - 12) # subtração
print(10 * 12) # multiplicação
print(10 / 12) # divisão
print("%.2f" %(10 / 12)) # divisão

print(15 / 7)
print(15 // 7) # Apenas o número inteiro da divisão

print(2 ** 3) # Potência

print(11 % 3) # Resto da divisão

# Também posso trabalhar com variáveis
a = 2 ** 4
print(a)

22
-2
120
0.8333333333333334
0.83
2.142857142857143
2
8
2
16

## Ordem de prioridade

In [ ]:
## ---------- Hierarquia ---------- ##
# 1. ** Exponenciação
# 2. * Multiplicação
# 3. / Divisão
# 4. % Resto da divisão ou mod
# 5. // Divisão inteira

In [ ]:
a = 10 * 3 + 2 # Multiplicação e Divisão antes da soma e subtração
b = 10 * (3 + 2) # Mudo a hierarquia utilizando ().

print("O valor de a é %d" %(a))
print("O valor de b é %d" %(b))

O valor de a é 32
O valor de b é 50

In [ ]:
a = 10 * 3 / 2 + 2 # Multiplicação e Divisão antes da soma e subtração
b = 10 * (3 / 2 + 2) # Mudo a hierarquia utilizando ().

print("O valor de a é %d" %(a))
print("O valor de b é %d" %(b))

O valor de a é 17
O valor de b é 35

In [ ]:
a = 100
b = 130
c = 50

resultado = a + b + c

print("O resultado é %d" %(resultado))

resultado = resultado * 2 # Aqui não uso parenteses, mas trabalho a hierarquia usando variáveis

print("O resultado é %d" %(resultado))

O resultado é 280
O resultado é 560

In [ ]:
# Maneira mais elegante de fazer soma, multiplcação e divisão
a = 1
a += 1 # Somando um
print(a)

a = 2
a *= 2 # Multiplicando por 2
print(a)

a = 6
a /= 2 # Dividindo por 2
print(a)

2
4
3.0

## Operadores: Atividades

**Atividade 01**

In [ ]:
ano_atual = 2025
ano_nascimento = 1984

idade_aprox = ano_atual - ano_nascimento

minha_idade = "Minha idade aproximada é de %d anos." %(idade_aprox)

print(minha_idade)

Minha idade aproximada é de 41 anos.

**Atividade 02**

In [ ]:
n1 = 15
n2 = 30
n3 = 45

media = (n1 + n2 + n3) / 3

resultado = "A média dos números %d, %d e %d é %.2f." %(n1,n2,n3,media)
print(resultado)

A média dos números 15, 30 e 45 é 30.00.

**Atividade 03**

In [ ]:
print("Vamos descobrir qual seu IMC!")

print("Indique em kg o seu peso atual: ")
peso_atual = float(input())

print("Indique em metros a sua altura: ")
altura = float(input())

imc = peso_atual / (altura ** 2)

resultado = "O seu IMC é %.2f." %(imc)
print(resultado)

Vamos descobrir qual seu IMC!
Indique em kg o seu peso atual:
95
Indique em metros a sua altura:
1.78
O seu IMC é 29.98.

**Atividade 04**

In [ ]:
print("Calculadora de Ovos de Páscoa.\n")

print("Indique o número de ovos disponíveis: ")
qtd_ovos = int(input())

print("Indique o número de pessoas para recebem: ")
qtd_pessoas = int(input())

ovos_por_pessoa = qtd_ovos // qtd_pessoas
sobra = qtd_ovos % qtd_pessoas

resultado = "Cada pessoa receberá %d ovos de páscoa e sobrarão %d ovos." %(ovos_por_pessoa, sobra)
print(resultado)

Calculadora de Ovos de Páscoa.

Indique o número de ovos disponíveis:
30
Indique o número de pessoas para recebem:
12
Cada pessoa receberá 2 ovos de páscoa e sobrarão 6 ovos.

# Operadores Lógicos

In [ ]:
# Compreendendo os operadores
## Prioridade: NOT, AND, OR

print(False and False)
print(True and False)
print(True and True)
print(True and False)

print(False and False and False)
print(True and False and False)
print(True and True and False)
print(True and True and True)

print(False or False)
print(True or False)
print(True or True)
print(True or False)

print(not True)
print(not False)

print(not False and True)
print(not True and True)

False
False
True
False
False
False
False
True
False
True
True
True
False
True
True
False

In [ ]:
vai_chover = 'T'
while vai_chover != True and vai_chover != False:
  print("Vai chover hoje? (Digite 'S' ou 'N') ")
  vai_chover = str(input())
  if vai_chover == 'S':
    vai_chover = True
  elif vai_chover == 'N':
    vai_chover = False

tem_prova = 'T'
while tem_prova != True and tem_prova != False:
  print("Tem prova hoje? (Digite 'S' ou 'N') ")
  tem_prova = str(input())
  if tem_prova == 'S':
    tem_prova = True
  elif tem_prova == 'N':
    tem_prova = False

if vai_chover == True and tem_prova == True:
  print("Hoje preciso ir para aula!")
elif vai_chover == False and tem_prova == True:
  print("Hoje preciso ir para aula!")
else:
  print("Hoje não preciso ir para aula!")

Vai chover hoje? (Digite 'S' ou 'N')
S
Tem prova hoje? (Digite 'S' ou 'N')
N
Hoje não preciso ir para aula!

**Atividade 01**

In [ ]:
falta_comida = 'T'
while falta_comida != True and falta_comida != False:
  print("Vai faltar comida? (Digite 'S' ou 'N') ")
  falta_comida = str(input())
  if falta_comida == 'S':
    falta_comida = True
  elif falta_comida == 'N':
    falta_comida = False

sabado = 'T'
while sabado != True and sabado != False:
  print("Hoje é sábado? (Digite 'S' ou 'N') ")
  sabado = str(input())
  if sabado == 'S':
    sabado = True
  elif sabado == 'N':
    sabado = False

if falta_comida == True or sabado == True:
  print("Preciso ir ao mercado!")
else:
  print("Não vou ao mercado!")

Vai faltar comida? (Digite 'S' ou 'N')
N
Hoje é sábado? (Digite 'S' ou 'N')
N
Não vou ao mercado!

**Atividade 02**

In [ ]:
sinal_vermelho = True
sem_carro_direita = True
sem_carro_esquerda = True
print("Posso atravessar a rua: ", sinal_vermelho and sem_carro_direita and sem_carro_esquerda)
#

sinal_vermelho = False
sem_carro_direita = True
sem_carro_esquerda = True
print("Posso atravessar a rua: ", sinal_vermelho and sem_carro_direita and sem_carro_esquerda)
#

sinal_vermelho = True
sem_carro_direita = True
sem_carro_esquerda = False
print("Posso atravessar a rua: ", sinal_vermelho and sem_carro_direita and sem_carro_esquerda)
#

Posso atravessar a rua:  True
Posso atravessar a rua:  False
Posso atravessar a rua:  False

In [ ]:
sinal_vermelho = True
vem_carro_direita = False
vem_carro_esquerda = False
print("Posso atravessar a rua: ", sinal_vermelho and not vem_carro_direita and not vem_carro_esquerda)
#

sinal_vermelho = True
vem_carro_direita = True
vem_carro_esquerda = False
print("Posso atravessar a rua: ", sinal_vermelho and not vem_carro_direita or not vem_carro_esquerda)
#

Posso atravessar a rua:  True
Posso atravessar a rua:  True

**Atividade 03**

In [ ]:
sinal_vermelho = True
sem_carro_direita = True
sem_carro_esquerda = True
print("Posso atravessar a rua: ", sinal_vermelho or sem_carro_direita and sem_carro_esquerda)
#

sinal_vermelho = False
sem_carro_direita = True
sem_carro_esquerda = True
print("Posso atravessar a rua: ", sinal_vermelho or sem_carro_direita and sem_carro_esquerda)
#

sinal_vermelho = True
sem_carro_direita = True
sem_carro_esquerda = False
print("Posso atravessar a rua: ", sinal_vermelho or sem_carro_direita and sem_carro_esquerda)
#

sinal_vermelho = False
sem_carro_direita = True
sem_carro_esquerda = False
print("Posso atravessar a rua: ", sinal_vermelho or sem_carro_direita and sem_carro_esquerda)
#

Posso atravessar a rua:  True
Posso atravessar a rua:  True
Posso atravessar a rua:  True
Posso atravessar a rua:  False

# Type and Casting

. Casting é transformar dados de um tipo para outro.

In [ ]:
var1 = 1
var2 = '1'
var3 = True
var4 = 1.456
var5 = None

print('var1 é:',type(var1))
print('var2 é:',type(var2))
print('var3 é:',type(var3))
print('var4 é:',type(var4))
print('var5 é:',type(var5))
print('\n')

var6 = int(var2)
print('var2: ', var2)
print('var6: ', var6)
print('var2 é: %s' %(type(var2)))
print('var6 é: %s' %(type(var6)))
print('\n')

var7 = float(var1)
print('var1: ', var1)
print('var7: ', var7)
print('var1 é: %s' %(type(var1)))
print('var7 é: %s' %(type(var7)))
print('\n')


#

var1 é: <class 'int'>
var2 é: <class 'str'>
var3 é: <class 'bool'>
var4 é: <class 'float'>
var5 é: <class 'NoneType'>


var2:  1
var6:  1
var2 é: <class 'str'>
var6 é: <class 'int'>


var1:  1
var7:  1.0
var1 é: <class 'int'>
var7 é: <class 'float'>

##Type and Casting: Atividades

**Atividade 01**

In [ ]:
saldo_bancario = '1235.55'
saida = '1000.00'
resultado = float(saldo_bancario) - float(saida)
print('Saldo em 03/06/2025: US$%.2f' %(float(saldo_bancario)))
print('Saída em 03/06/2025: US$%.2f' %(float(saida)))
print('-------------------------------------')
print('Saldo final: US$%.2f' %(resultado))

Saldo em 03/06/2025: US$1235.55
Saída em 03/06/2025: US$1000.00
-------------------------------------
Saldo final: US$235.55

**Atividade 02**

In [4]:
saldo_bancario = '1235.55'
saida = '1000.00'
resultado = float(saldo_bancario) - float(saida)
print('Saldo em 03/06/2025: US$%.2f' %(float(saldo_bancario)))
print('Saída em 03/06/2025: US$%.2f' %(float(saida)))
print('-------------------------------------')
print('Saldo final: US$%.2f' %(resultado))
resultado_zerado = not bool(resultado)
print('O saldo final é zero? ', resultado_zerado)

Saldo em 03/06/2025: US$1235.55
Saída em 03/06/2025: US$1000.00
-------------------------------------
Saldo final: US$235.55
O saldo final é zero?  False

**Atividade 03**

In [2]:
altura = 1.78
resultado = int(altura)
print("Minha altura é: %.2fm." %(altura))
print("Minha altura (parte inteira) é: %.2fm." %(resultado))

Minha altura é: 1.78m.
Minha altura (parte inteira) é: 1.00m.

#Lendo Entradas do Usuário

In [5]:
var1 = input()
print(var1)

10
10

In [13]:
print("Digite um número inteiro:")
var1 = int(input())
print("O número digitado é: %d" %(var1))

Digite um número inteiro:
10
O número digitado é: 10

## Lendo Entradas do Usuário: Atividades

**Atividade 01**

In [15]:
print("Digite o primeiro número: ")
num1 = float(input())

print("Digite o segundo número: ")
num2 = float(input())

resultado = num1 / num2
print('O primeiro número digitado é: %.2f' %(num1))
print('O segundo número digitado é: %.2f' %(num2))
print('-------------------------------------')
print('A divisão do num1 pelo num2 é: %.2f' %(resultado))

Digite o primeiro número:
15
Digite o segundo número:
62
O primeiro número digitado é: 15.00
O segundo número digitado é: 62.00
-------------------------------------
A divisão do num1 pelo num2 é: 0.24

**Atividade 02**

In [16]:
print("Indique o dia do mês: ")
dia = int(input())
print("Indique o mês do ano: ")
mes = int(input())
print("Indique o ano: ")
ano = int(input())

print("A data inserida é: %d/%d/%d." %(dia, mes, ano))

Indique o dia do mês:
31
Indique o mês do ano:
5
Indique o ano:
1984
A data inserida é: 31/5/1984.

#Atribuição e Combinação de Operadores Lógicos

**Atividade 01**

In [18]:
print("Qual foi média das provas?")
media = float(input())

print("Qual foi nota no exame?")
exame = float(input())

resultado = media >= 7 or exame >=5
print("Aprovado?", resultado)

Qual foi média das provas?
7
Qual foi nota no exame?
6
Aprovado? True

In [20]:
print("Digite sua nova senha: ")
senha = str(input())

print("digite sua senha para confirmar: ")
senha_conf = str(input())

resultado = senha == senha_conf
print("Senha confirmada? ", resultado)

Digite sua nova senha:
56489
digite sua senha para confirmar:
56489
Senha confirmada?  True

# Uso de Strings

## Slicing de String

In [59]:
var1 = "business"
print(var1[1])
print(var1[0])
print(var1[6])
print(var1[:5])
print(var1[3:5])
print(var1[3:])
print(var1[-1])
print(var1[-3])
print(var1[:-1])
print(var1[:-3])
print(var1[-5:-1])
print(var1[1:4])
print(var1[::-1])
print(var1[:2:-1])

u
b
s
busin
in
iness
s
e
busines
busin
ines
usi
ssenisub
sseni
O valor é:

## "Operações" com strings

In [38]:
var1 = "carro"
var2 = "bonito"
resultado = var1 + var2
print(resultado)

print("---------------------------")
var1 = "carro "
var2 = "bonito"
resultado = var1 + var2
print(resultado)

print("---------------------------")
resultado2 = var1 + "" + var2
print(resultado2)

print("---------------------------")
var3 = "carro"
print(var3)
var3 += " bonito"
print(var3)

carrobonito
---------------------------
carro bonito
---------------------------
carro bonito
---------------------------
carro
carro bonito

In [31]:
var1 = "bota"
var2 = var1 * 3
print(var2)

var1 = "bota "
var2 = var1 * 3
print(var2)

botabotabota
bota bota bota