<a href="https://colab.research.google.com/github/lincolntneves/course-eia-data-science-track/blob/main/02%20-%20Professional%20Training%20Python%20Complete%20Course%20%2B%20Projects/03_Programming_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF Structure

In [ ]:
var = 1
if var == 1:
  print("The variable is 1")

The variable is 1

In [ ]:
print("Enter an int number: ")
var = int(input())
if var == 1:
  print("The variable is 1")
else:
  print("The variable is not 1")

Enter an int number:
1
The variable is 1

In [ ]:
print("Enter an int number: ")
var = int(input())
if var == 1:
  print("The variable is 1")
elif var == 2:
  print("The variable is 2")
elif var == 3:
  print("The variable is 3")
else:
  print("I don't recognize that number")

Enter an int number:
6
I don't recognize that number

**Working with IF in one line**

In [ ]:
var = 2
result = "Var is greater than 2" if var > 2 else "Var is not greater than 2"
print(result)

Var is not greater than 2

In [ ]:
print("Enter an int number:")
var = int(input())
result = "Var is greater than 2" if var > 2 else "Var is not greater than 2"
print(result)

Enter an int number:
4
Var is greater than 2

## IF Structure: Activities

**Activity 01**

In [ ]:
print("Enter your balance: ")
revenue = float(input())
print("Enter your debt: ")
debt = float(input())

balance = revenue - debt

if balance < 0:
  print("You have a \'negative'\ balance")
else:
  print("you have a \'positive\' balance")

Enter your balance:
2400
Enter your debt:
1500
you have a 'positive' balance

**Activity 02**

In [ ]:
code = '105.066.227-03'
password = '123654'

while passw != '123654':
  print("Enter the password to see the code: ")
  passw = str(input())
  if passw == '123654':
    print("The code is: ", code)
  else:
    print("Incorrect code!!")
    print("Try again.")

Enter the password to see the code:
123
Incorrect code!!
Try again.
Enter the password to see the code:
125
Incorrect code!!
Try again.
Enter the password to see the code:
123654
The code is:  105.066.227-03

**Activity 03**

In [ ]:
print("Enter your age: ")
age = int(input())

if age <= 3:
  print("You are a baby")
elif age <= 13:
  print("You are a child")
elif age <= 18:
  print("You are a teenager")
elif age <= 65:
  print("You are an adult")
else:
  print("You are an elderly person")

Enter your age:
78
You are an elderly person

**Activity 04**

In [ ]:
print("Enter the first number: ")
num1 = float(input())

print("Enter the second number:")
num2 = float(input())

print("Enter the operation:")
print("1 for Addition")
print("2 for Subtraction")
print("3 for Multiplication")
print("4 for Division")
op = int(input())

if op == 1:
  print("The addition for %.2f and %.2f is: %.2f" %(num1, num2, (num1+num2)))
elif op == 2:
  print("The subtraction for %.2f and %.2f is: %.2f" %(num1, num2, (num1-num2)))
elif op == 3:
  print("The Multiplication for %.2f and %.2f is: %.2f" %(num1, num2, (num1*num2)))
elif op == 4:
  print("The Division for %.2f and %.2f is: %.2f" %(num1, num2, (num1/num2)))

Enter the first number:
15
Enter the second number:
21
Enter the operation:
1 for Addition
2 for Subtraction
3 for Multiplication
4 for Division
3
The Multiplication for 15.00 and 21.00 is: 315.00

# While Structure

In [1]:
# Exemple 01
num = 10
while num > 0:
  print("The num is %d" %(num))
  num -= 1

The num is 10
The num is 9
The num is 8
The num is 7
The num is 6
The num is 5
The num is 4
The num is 3
The num is 2
The num is 1

In [2]:
balance = 5000.00
while balance >= 0:
  print("Your balance is US$%.2f" %(balance))
  print("Enter a debt value: ")
  debt = float(input())
  balance = balance - debt
  print("You have a new balance: US$%.2f" %(balance))
print("You have a negative balance: US$%.2f" %(balance))

Your balance is US$5000.00
Enter a debt value:
100
You have a new balance: US$4900.00
Your balance is US$4900.00
Enter a debt value:
2500
You have a new balance: US$2400.00
Your balance is US$2400.00
Enter a debt value:
235
You have a new balance: US$2165.00
Your balance is US$2165.00
Enter a debt value:
1563
You have a new balance: US$602.00
Your balance is US$602.00
Enter a debt value:
635
You have a new balance: US$-33.00
You have a negative balance: US$-33.00

In [5]:
n = 5
sum = 0
while n > 0 and n <= 5:
  for i in range(1,6):
    num = float(input("Enter the number %d: " %(i)))
    n -= 1
    sum = sum + num
print("The sum of the numbers is %.2f" %(sum))

Enter the number 1: 10
Enter the number 2: 20
Enter the number 3: 20
Enter the number 4: 25
Enter the number 5: 25
The sum of the numbers is 100.00

## While Structure: Activities

**Activity 01**

In [12]:
sum = 0
num = 0
while num <= 5:
  print("Enter the number for mean: ")
  var = float(input())
  sum = sum + var
  num += 1
result = sum/num
print("The mean is %.2f." %(result))

Enter the number for mean:
10
Enter the number for mean:
12.5
Enter the number for mean:
15
Enter the number for mean:
18
Enter the number for mean:
4
Enter the number for mean:
9
The mean is 11.42.

**Activity 02**

In [15]:
sum = 0
num = 0
while num <= 5:
  print("Enter the number for sum: ")
  var = float(input())
  if var < 0:
    num += 1
    continue
  else:
    sum = sum + var
    num += 1
print("The sum is %.2f." %(sum))

Enter the number for mean:
10
Enter the number for mean:
10
Enter the number for mean:
-1
Enter the number for mean:
10
Enter the number for mean:
10
Enter the number for mean:
10
The sum is 50.00.

**Activity 03**

In [17]:
sum = 0
num = 0
print("How many number do you want to sum?")
num2 = int(input())
print("Let's sum %d numbers" %(num2))
while num < num2:
  print("Enter the number for sum: ")
  var = float(input())
  sum = sum + var
  num += 1
print("The sum is %.2f." %(sum))

How many number do you want to sum?
3
Let's sum 3 numbers
Enter the number for sum:
10
Enter the number for sum:
10
Enter the number for sum:
10
The sum is 30.00.

In [20]:
sum = 0
num = 0
num2 = 0
while num2 < 2:
  print("How many number do you want to sum? (>2)")
  num2 = int(input())
print("Let's sum %d numbers" %(num2))
while num < num2:
  print("Enter the number for sum: ")
  var = float(input())
  sum = sum + var
  num += 1
print("The sum is %.2f." %(sum))

How many number do you want to sum? (>2)
0
How many number do you want to sum? (>2)
0
How many number do you want to sum? (>2)
1
How many number do you want to sum? (>2)
1
How many number do you want to sum? (>2)
3
Let's sum 3 numbers
Enter the number for sum:
10
Enter the number for sum:
10
Enter the number for sum:
10
The sum is 30.00.

**Activity 04**

In [23]:
num = 2
while num <= 10:
  result = num % 2
  if result == 0:
    print("The number %d is even." %(num))
    num += 1
  else:
    print("The number %d is odd." %(num))
    num += 1

The number 2 is even.
The number 3 is odd.
The number 4 is even.
The number 5 is odd.
The number 6 is even.
The number 7 is odd.
The number 8 is even.
The number 9 is odd.
The number 10 is even.

**Activity 05**

In [26]:
var1 = str(input("Enter a little text: "))
var2 = len(var1)
num = 0
num2 = 0
while num < var2:
  if var1[num] == " ":
    num2 += 1
    num += 1
  else:
    num += 1

print("The number of spaces in the text is %d." %(num2))

Enter a little text: I'm going home!
The number of spaces in the text is 2.

# Break and Continue

In [6]:
num = 5
while num > 0:
  if num == 15:
    break
  print("The number is %d." %(num))
  num += 1
print("The loop has finished!")

The number is 5.
The number is 6.
The number is 7.
The number is 8.
The number is 9.
The number is 10.
The number is 11.
The number is 12.
The number is 13.
The number is 14.
The loop has finished!

In [11]:
num = 5
while num > 0 and num <= 15:
  if num == 12:
    num += 1
    continue
  print("The number is %d." %(num))
  num += 1
print("The loop has finished!")

The number is 5.
The number is 6.
The number is 7.
The number is 8.
The number is 9.
The number is 10.
The number is 11.
The number is 13.
The number is 14.
The number is 15.
The loop has finished!

# FOR Structure

In [1]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
# On this exemple I include number 10
for x in range(11):
  print(x)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
# Here I print each number between 0 and 11 (11 not include) skipping each 2 numbers
for x in range(0,11,2):
  print(x)

0
2
4
6
8
10

In [7]:
var = "Hi, my name is Victor"
for x in var:
  print(x)

H
i
,

m
y

n
a
m
e

i
s

V
i
c
t
o
r

In [15]:
var = "Hi, my name is Victor"
number = 0
letter = 'm'
for x in var.lower():
  if x == letter:
    number += 1
  else:
    continue
print("The letter \'%s\' appers %d times." %(letter,number))

The letter 'm' appers 2 times.

In [20]:
print("Enter a text: ")
var = str(input())
print("Enter the letter you wanna count: ")
letter = str(input()).lower()
number = 0
for x in var.lower():
  if x == letter:
    number += 1
  else:
    continue
print("The letter \'%s\' appers %d times." %(letter,number))

Enter a text:
I am here with my brother
Enter the letter you wanna count:
w
The letter 'w' appers 1 times.

FOR Structure: Activities

**Activity 01**

In [22]:
print("Enter a text: ")
var1 = str(input()).lower()
number = 0
for x in  var1:
  if x == " ":
    continue
  else:
    number += 1
print("The text has %d characters" %(number))

Enter a text:
Who am I?
The text has 7 characters

**Activity 02**

In [24]:
var1 = 5
a = 1
for x in range(1,var1+1):
  a = a * x
print("The factorial of %d is %d." %(var1, a))

The factorial of 5 is 120.

In [28]:
print("Enter a number: ")
var1 = int(input())
a = 1
for x in range(1,var1+1):
  a = a * x
print("The factorial of %d is %d." %(var1, a))

Enter a number:
6
The factorial of 6 is 720.

**Activity 03**

In [34]:
print("Enter the number of texts: ")
num_text = int(input())
num = 0
text1 = ""

while num <= num_text-1:
  print("Enter the text number %d: " %(num))
  text2 = str(input())
  text1 = text1 + " " + text2
  num += 1

print(text1)

Enter the number of texts:
3
Enter the text number 0:
I
Enter the text number 1:
am
Enter the text number 2:
here
 I am here

In [35]:
print("Enter the number of texts: ")
num_text = int(input())
num = 0
text1 = ""

for x in range (num_text):
  print("Enter the text number %d: " %(x))
  text2 = str(input())
  text1 = text1 + " " + text2
  num += x

print(text1)

Enter the number of texts:
3
Enter the text number 0:
I
Enter the text number 1:
am
Enter the text number 2:
here
 I am here

**Activity 04**

In [38]:
print("Which multiplication table do you wanna see? ")
var1 = int(input())

for x in range(1, 11):
  var2 = "%d / %d = %.2f" %(x, var1, (x / var1))
  print(var2)

Which multiplication table do you wanna see?
9
1 / 9 = 0.11
2 / 9 = 0.22
3 / 9 = 0.33
4 / 9 = 0.44
5 / 9 = 0.56
6 / 9 = 0.67
7 / 9 = 0.78
8 / 9 = 0.89
9 / 9 = 1.00
10 / 9 = 1.11

**Activity 05**

In [45]:
for i in range(3, 31):
  if i % 2 == 0:
    continue

  for j in range(3, 31):
    if i != j or i % j > 0:
      continue
    else:
      print("The number %d is prime." %(i))

The number 3 is prime.
The number 5 is prime.
The number 7 is prime.
The number 9 is prime.
The number 11 is prime.
The number 13 is prime.
The number 15 is prime.
The number 17 is prime.
The number 19 is prime.
The number 21 is prime.
The number 23 is prime.
The number 25 is prime.
The number 27 is prime.
The number 29 is prime.

In [47]:
#Teacher solution
for numero in range(3,31):
  e_primo = True

  for num_teste in range(2, numero):
    if (numero % num_teste == 0):
      e_primo = False
      break

  if (e_primo):
    print("O número %d é primo." %(numero))
  else:
    print("O número %d não é primo." %(numero))

O número 3 é primo.
O número 4 não é primo.
O número 5 é primo.
O número 6 não é primo.
O número 7 é primo.
O número 8 não é primo.
O número 9 não é primo.
O número 10 não é primo.
O número 11 é primo.
O número 12 não é primo.
O número 13 é primo.
O número 14 não é primo.
O número 15 não é primo.
O número 16 não é primo.
O número 17 é primo.
O número 18 não é primo.
O número 19 é primo.
O número 20 não é primo.
O número 21 não é primo.
O número 22 não é primo.
O número 23 é primo.
O número 24 não é primo.
O número 25 não é primo.
O número 26 não é primo.
O número 27 não é primo.
O número 28 não é primo.
O número 29 é primo.
O número 30 não é primo.